*,
*:before,
*:after {
  box-sizing: border-box;
}
#telo {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  font-family: "Inter", sans-serif;
}
#rada{
  display: flex;
  align-items: center;
  justify-content: center;
}
.red {
  color: white;
  display: grid;
  grid-template-columns: 100px 100px 1fr 1fr 100px 1fr;
  grid-template: "logo presl bc bc bc bc ik";
  background-color: #514b96;
  text-align: center;
  width: 100vh;
  height: 56px;
}
#logo {
  grid-area: logo;
  align-self: center;
  float: left;
  position: absolute;
  left: 24px;
  width: 32px;
  height: 16px;
  align-self: flex-start;
}
#presl {
 justify-self: center;
  grid-area: presl;
  float: right;
  position: relative;
  width: 142px;
  left: 92px;
  width: 142px;
  left: 80px;
  height: 23px;
  font-size: 20px;
  align-self: flex-end;
 
}
.kolone {
  flex: auto;
  flex-grow: 1;
  display: grid;
  grid-template:
    "kolona"
    "kolonadruga";
  color: white;
}
#preslovi {
  grid-area: kolona;
  background-color: #e5e5e5;
  color: #101b56;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  width: 100%;
  height: 100%;
  border: 0;
  resize: none;
  padding: 24px 24px 48px 24px;
}

#preslovljeni {
  padding: 24px 24px 48px 24px;
  grid-area: kolonadruga;
  background-color: white;
  color: #b1accf;

  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  border: 0;
  width: 100%;
  height: 100%;
  border: 0;
  resize: none;
  color: #101b56;
}

#preslovi::placeholder {
  color: #b1accf;
}

#ik {
  display: none;
}
#opr {
  display: none;
}

@media (min-width: 600px) {
  .red {
    color: white;
    display: grid;
    grid-template-columns: 100px 100px 1fr 1fr 200px 200px;
    grid-template: "logo presl bc bc bc bc izvorni opresl";
    background-color: #514b96;
    text-align: center;
    width: 100%;
    height: 56px;
  }
  .kolone {
    display: grid;
    grid-template: "kolona  kolonadruga";
    color: white;
    height: 100vh;
  }
  #telo {
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }

  #logo {
    grid-area: logo;
    justify-items: start;
    align-self: center;
    float: right;
    position: absolute;
    width: 32px;
    height: 16px;
    left: 36px;
  }
  #presl {
    grid-area: presl;
    float: right;
    position: absolute;
    width: 142px;
    left: 80px;
    height: 23px;
    font-size: 20px;
    text-align: center;
  }
  #ik {
    float: left;
    position: absolute;
    right: 260px;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    color: white;
    grid-area: izvorni;
    display: block;
    height: 19px;
    width: 137px;
  }
  #opr {
    float: left;
    position: absolute;
    display: block;
    width: 137px;
    height: 16px;
    right: 48px;
    color: white;
    grid-area: opresl;
    font-size: 16px;
    text-align: center;
  }

  #preslovi {
    grid-area: kolona;
    background-color: #e5e5e5;
    color: #101b56;

    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    width: 100%;
    height: 100%;
    border: 0;
    resize: none;
  }
  #preslovi::placeholder {
    color: #b1accf;
  }

  #preslovljeni {
    grid-area: kolonadruga;
    background-color: white;
    color: #101b56;

    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    border: 0;
    width: 100%;
    height: 100%;
    border: 0;
    resize: none;
  }
  #brojac {
    grid-area: kolona;
    position: absolute;
    width: 97px;
    height: 25px;
    left: 583px;
    top: 973px;
    display: block;

    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 14px;
    color: #101b56;
  }
  #reci {
    grid-area: kolona;
    position: absolute;
    width: 55px;
    height: 25px;
    left: 600px;
    top: 1000px;

    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 14px;
    color: #101b56;
  }
}
